<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel - Category Management</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #242424;
      color: #fff;
    }

    .container {
      margin-top: 50px;
    }

    .category-card {
      background-color: #333;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    .category-name {
      font-size: 20px;
      font-weight: bold;
    }

    .category-description {
      font-size: 16px;
      color: #999;
      margin-top: 5px;
    }

    .navbar {
      background-color: black;
      color: white !important;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/admin" class="navbar-brand">
      <img src="/shop/img/ll.png" alt="Logo">
      Category Management
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="addcategories">Add Categories</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" href="users">Users</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">
    <h1>All Categories</h1>
    <% if (categoryData.length===0) { %>
      <p>No categories found.</p>
      <% } else { %>
        <% categoryData.forEach((category)=> { %>
          <div class="category-card">
            <div class="category-name">
              <%= category.CategoryName %>
            </div>
            <div class="category-description">
              <%= category.CategoryDescription %>
            </div>
            <div class="category-description">
              <%= category.isBlocked %>
            </div>

          <div class="product-actions">
            <% if (category.isBlocked) { %>
              <a href="/admin/unblockcategories?categoryId=<%= category._id %>" class="btn btn-danger">
                <i class="fas fa-lock"></i> Unblock
              </a>
              <% } else { %>
                <a href="/admin/blockcategories?categoryId=<%= category._id %>" class="btn btn-success">
                  <i class="fas fa-lock-open"></i> Block
                </a>
                <% } %>
                  <a href="/admin/editcategories?categoryId=<%= category._id %>" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Edit
                  </a>
          </div>
        </div>
          <% }); %>
            <% } %>
         
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>