<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Coupon Management || Admin</title>
    

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="css/style.css" />


<style>
  /* CSS styles */
 
 body {
   font-family: Arial, sans-serif;
   background-color: #e6e6e6;
   margin-top: 20px;
 }
 
 .container {
 
   display: flex;
   flex-wrap: wrap;
   max-width: 1600px;
   margin: 0 auto;
 }
 
 .form-container {
  color: #000000;
   flex: 1;
   margin: 20px;
   border-radius: 5px;
 
   overflow-x: auto;
 }
 
 .form-container h1 {

   text-align: center;
   color: #000000;
   /* margin-bottom: 20px; */
 }
 
 label {
   display: block;
   margin-bottom: 5px;
   color: #333;
 }
 
 select,
 input[type="date"],
 input[type="number"] {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 10px;
 }
 
 input[type="submit"] {
  margin-left: 45%;
  align-self: center;
   background-color: #4caf50;
   color: white;
   border: none;
   padding: 10px;
   cursor: pointer;
   border-radius: 5px;
   /* width: 100%; */
 }
 
 input[type="submit"]:hover {
   background-color: #45a049;
 }
 
 .error {
   color: red;
   margin-top: 5px;
 }
 
 .search-container {
   position: relative;
   margin-bottom: 20px;
 }
 
 #product-search {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 
 #product-search:focus {
   outline: none;
   border-color: #6cb2eb;
   box-shadow: 0 0 5px #6cb2eb;
 }
 
 .table {
   width: 100%;
   background-color: #fff;
   border-collapse: collapse;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   color: #000000;
 }
 
 .table thead th,
 .table tbody td {
   padding: 10px;
   text-align: center;
   border-bottom: 1px solid #ddd;
 }
 
 .table thead th {
   background-color: #f2f2f2;
   color: #333;
   font-weight: bold;
 }
 
 .table tbody tr:nth-child(even) {
   background-color: #f9f9f9;
 }
 
 .table td.text-danger {
   color: #dc3545;
 }
 
 .table td.product-column {
   width: 30%;
   max-width: 30%;
   word-wrap: break-word;
 }
 
 @media (max-width: 768px) {
   .form-container {
     margin-right: 0;
     margin-bottom: 20px;
     overflow-x: initial;
   }
 
   .table {
     overflow-x: auto;
   }
 }
 .table td.product-column {
     width: 30%; /* Adjust the width as per your requirement */
     max-width: 30%; /* Add max-width to limit the width if necessary */
     word-wrap: break-word; /* Allow long product names to wrap onto multiple lines */
   }
   .coustom-table {
     width: 100%;
     background-color: #fff;
     border-collapse: collapse;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     color: #333;
   }
 
   .coustom-table th,
   .coustom-table td {
     padding: 10px;
     text-align: center;
     border-bottom: 1px solid #ddd;
   }
 
   .coustom-table th {
     background-color: #f2f2f2;
     color: #333;
     font-weight: bold;
   }
 
   .coustom-table tbody tr:nth-child(even) {
     background-color: #f9f9f9;
   }
 
   .coustom-table td.text-danger {
     color: #dc3545;
   }
 </style>
 </head>
 <div class="container-scroller">
     
          
     
     <div class="container">
       <div class="form-container col-sm-12">
         <h1>Product Offer</h1>
         <div class="search-container">
           <input type="text" id="product-search" placeholder="Search product...">
         </div>
         <form action="/admin/productOffer" method="post" onsubmit="return productValidateForm()">
           <label class="text-dark" for="product">Product:</label>
           <select id="product" name="product">
             <option selected disabled></option>
             <% product.forEach(product => {
               if (!product.isBlocked && product.stock !== 0 && !product.offer) { %>
                 <option value="<%= product._id %>"><%= product.productName %></option>
               <% }
             }); %>
           </select>
           <br><br>
           <label class="text-dark" for="start-date">Start Date:</label>
           <input type="date" id="product-start-date" name="productstartdate">
           <br><br>
           <label class="text-dark" for="stop-date">Stop Date:</label>
           <input type="date" id="product-stop-date" name="productstopdate">
           <br><br>
           <label class="text-dark" for="percentage">Percentage:</label>
           <input type="number" id="product-percentage" name="productpercentage" min="0" max="100">
           <br><br>
           <input type="submit" value="Submit">
         </form>
         <br>
         <table class="coustom-table">
   <thead>
     <tr>
       <th>Product Name</th>
       <th>End Date</th>
       <th>Percentage</th>
       <th>Price</th>
       <th>Offer Price</th>
       <th>Remove</th>
     </tr>
   </thead>
   <tbody>
     <% product.forEach((product, index) => { %>
       <% if (product.offer === true) { %>
         <tr>
           <td class="product-column"><%= product.productName %></td>
           <td><%= product.offerEnd ? new Date(product.offerEnd).toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) : 'Offer ends' %></td>
           <td><%= product.offerPercentage %>%</td>
           <td><%= product.productPrice %></td>
           <td><%= product.offerPrice %></td>
           <td class="text-danger">
             <a href="/admin/removeOffer?productId=<%= product._id %>" class="btn-rounded btn-primary p-2">Remove</a>
           </td>
         </tr>
       <% } %>
     <% }); %>
   </tbody>
 </table>
 
       </div>
     
       <div class="form-container col-sm-12">
         <h1>Category Offer</h1>
         <div class="search-container">
           <input type="text" id="product-search" placeholder="" disabled>
         </div>
         <form action="/admin/categoryOffer" method="post" onsubmit="return categoryValidateForm()">
           <label class="text-dark" for="category">Category:</label>
           <select id="category" name="category">
             <option selected disabled></option>
             <% categories.forEach(category => {
               if (!category.isBlocked && !category.offer) { %>
                 <option value="<%= category._id %>"><%= category.CategoryName %></option>
               <% }
             }); %>
           </select>
           <br><br>
           <label class="text-dark" for="start-date">Start Date:</label>
           <input type="date" id="category-start-date" name="categorystartdate">
           <br><br>
           <label class="text-dark" for="stop-date">Stop Date:</label>
           <input type="date" id="category-stop-date" name="categorystopdate">
           <br><br>
           <label class="text-dark" for="percentage">Percentage:</label>
           <input type="number" id="category-percentage" name="categorypercentage" min="0" max="100">
           <br><br>
           <input type="submit" value="Submit">
         </form>
         <br>
         <table class="table">
           <thead>
             <tr>
               <th>Category Name</th>
               <th>End Date</th>
               <th>Percentage</th>
               <th>Remove</th>
             </tr>
           </thead>
           <tbody>
             <% categories.forEach((category) => {
               if (category.offer===true) { %>
                 <tr>
                   <td><%= category.CategoryName %></td>
                   <td><%= category.catofferEnd ? new Date(category.catofferEnd).toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) : 'Offer ends' %></td>
                   <td><%= category.catofferPercentage %>%</td>
                   <td class="text-danger">
                     <a href="/admin/removeCatOffer?categoryId=<%= category._id %>" class="btn-rounded btn-primary p-2">Remove</a>
                   </td>
                 </tr>
               <% }
             }); %>
           </tbody>
         </table>
       </div>
     </div>
     </div>
       
   
   
 <script>
 
     function productValidateForm() {
       var product = document.getElementById("product").value;
       var startDate = document.getElementById("product-start-date").value;
       var stopDate = document.getElementById("product-stop-date").value;
       var percentage = document.getElementById("product-percentage").value;
       
       
       if (product === "" || startDate === "" || stopDate === "" || percentage === "") {
         alert("Please fill in all the fields in Product Offer.");
         return false;
       }
       
       if (percentage < 0 || percentage > 100) {
         alert("Please enter a percentage between 0 and 100.");
         return false;
       }
       
     }
     function categoryValidateForm() {
       var category = document.getElementById("category").value;
       var startDate = document.getElementById("category-start-date").value;
       var stopDate = document.getElementById("category-stop-date").value;
       var percentage = document.getElementById("category-percentage").value;
       if (category==="" || startDate==="" ||stopDate==="" ||percentage==="") {
         alert("Please fill in all the fields in Category Offer.");
         return false;
       }
       
       if (percentage < 0 || percentage > 100) {
         alert("Please enter a percentage between 0 and 100.");
         return false;
       }
     }
   </script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
     function filterOptions(inputValue) {
       var options = $('#product option');
       var searchTerm = inputValue.toLowerCase();
 
       options.each(function() {
         var optionText = $(this).text().toLowerCase();
         var isVisible = optionText.includes(searchTerm);
         $(this).toggle(isVisible);
       });
     }
 
     $(document).ready(function() {
       $('#product-search').on('input', function() {
         var inputValue = $(this).val();
         filterOptions(inputValue);
       });
     });
 
     function validateForm() {
  
 
       return true;
     }
   </script>
  