<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel - Product Management</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      background-color: #242424;
      color: #fff;
    }

    .container {
      margin-top: 50px;
    }

    .product-card {
      background-color: #333;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    .product-img {
      width: 200px;
      height: 200px;
      /* border-radius: 30%; */
      object-fit: contain;
    }

    .product-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .product-brand {
      font-size: 16px;
      color: #999;
      margin-bottom: 10px;
    }

    .product-details {
      display: flex;
      justify-content: space-between;
    }

    .product-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .btn {
      margin-left: 5px;
    }

    .navbar {
      background-color: black;
      color: rgb(255, 255, 255) !important;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="navbar1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/admin" class="navbar-brand">
      <img src="/shop/img/ll.png" alt="Logo">
      Product Management
  
    </a>



    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="addproducts">Add Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users">Users</a>
        </li>
        
    
        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
      </ul>

  </nav>

  <!-- Content -->
  <div class="container">
    <h1>All Products</h1>
    
  </ul>
    </li>
    <% if (productData.length===0) { %>
      <p>No products found.</p>
      <% } else { %>
        <% productData.forEach((Product)=> { %>
          <div class="product-card">
            <div class="product-details">
              <img class="product-img" src="/uploads/<%= Product.productImage[2] %>" alt="Product Image">
              <div class="product-info">
                <div class="product-name">Name: <%= Product.productName %>
                </div>
                <div class="product-brand">Brand: <%= Product.productBrand %>
                </div>
                <div class="product-brand">Category: <%= Product.category.CategoryName%>
                </div>
                <div class="product-brand">Price: <%= Product.productPrice %>
                </div>
                <div class="product-brand">Quantity: <%= Product.productQuantity%>
                </div>
                <div class="product-brand">OriginalPrice: <%= Product.originalPrice%>
                </div>
              </div>
            </div>
            <div class="product-actions">
              <% if (Product.isBlocked) { %>
                <a href="/admin/unblockproducts?productId=<%= Product._id %>" class="btn btn-danger">
                  <i class="fas fa-lock"></i> Unblock
                </a>
                <% } else { %>
                  <a href="/admin/blockproducts?productId=<%= Product._id %>" class="btn btn-success">
                    <i class="fas fa-lock-open"></i> Block
                  </a>
                  <% } %>
                    <a href="/admin/editproducts?productId=<%= Product._id %>" class="btn btn-primary">
                      <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="#" class="btn btn-danger">
                      <i class="fas fa-trash"></i> Delete
                    </a>
            </div>
          </div>
          <% }); %>
            <% } %>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>