<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyborg Gaming</title>

  
  <% if (locals.adminLayout) { %>
    <%- include ('../partials/adminLink') %>
      <% } else if(locals.userLayout){ %>
  <%- include ('../partials/userLink') %>
     <% } %>


  <% if (locals.adminLayout) { %>
  <%- include ('../partials/admin-navbar') %>
    <% } else if(locals.userLayout) { %>
<%- include ('../partials/usernavbar') %>
     <%} %>


<%- body %>


<% if (locals.adminLayout) { %>
     <%- include ('../partials/admin-footer') %>
  <% } else if(locals.userLayout) { %>
<%- include ('../partials/user-footer') %>
<% } %>


<!-- SCRIPT -->
<% if (locals.adminLayout) { %>
  <%- include ('../partials/adminScript') %>
    <% } else { %>
<%- include ('../partials/userScript') %>
   <% } %>
</body>
</html>
