<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyborg Gaming</title>
    <link rel="stylesheet" href="../../public/AddOnStyles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .body {
            background-color: #000000;
        }

        #navbar1 {

            background-color: #000000 !important;
            font-family: 'DotGothic16', sans-serif;
        }



        .navbar-nav {
            margin-left: auto;
        }

        .nav-item {
            padding: 0 15px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

        .navbar-toggler-icon {
            background-color: rgb(0, 0, 0);
        }

        @media (max-width: 767px) {
            .navbar-collapse {
                justify-content: center;
            }
        }

        .c-item {
            height: 100%;
        }

        .c-img {
            height: 80vh;
            object-fit: cover;
        }

        .description-truncate {
            max-height: 5em;
            overflow-y: scroll;
            text-overflow: ellipsis;
            white-space: normal;
        }


        .description-truncate::-webkit-scrollbar{
      display: none
    }
        .description-container {
            max-height: 10em;
            overflow: auto;
        }


        .fa-heart {
      color: rgb(255, 255, 255);
      transition: color 0.3s;

    }
    .fa-shopping-cart {
      color: rgb(255, 253, 253);
      transition: color 0.3s;

    }

    .fa-heart:hover{
      color: #f44336;
    }
 

    .fa-shopping-cart:hover{
      color: #05d40f;
    }
 
        .card-body {
            background-color: #c7c7c7;
        }



        .input-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            position: relative;
        }

        .input {
            border-style: none;
            height: 50px;
            width: 50px;
            padding: 10px;
            outline: none;
            border-radius: 50%;
            transition: .5s ease-in-out;
            background-color: #000000;

            padding-right: 40px;
            color: #fff;
        }

        .input::placeholder,
        .input {
            font-family: 'DotGothic16', sans-serif;
            font-size: 17px;
        }

        .input::placeholder {
            color: #8f8f8f;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            outline: none;
            border-style: none;
            border-radius: 50%;
            pointer-events: painted;
            background-color: transparent;
            transition: .2s linear;
        }

        .icon:focus~.input,
        .input:focus {

            width: 250px;
            border-radius: 0px;
            background-color: transparent;

            border-bottom: 3px solid #da9b09;
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }



        .radio-inputs {
            font-family: 'DotGothic16', sans-serif;
            display: none;
            position: relative;
            padding: .5rem;
            display: flex;
            flex-wrap: nowrap;
            background-color: rgb(26, 26, 26);
            box-sizing: border-box;
            width: 300px;
            font-size: 14px;
        }

        .radio-inputs .radio {
            flex: 1 1 auto;
            text-align: center;
        }

        .radio-inputs .radio input {
            display: none;
        }

        .radio-inputs .radio .name {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            border: none;
            padding: .5rem;
            color: rgb(223, 164, 0);
            transition: all .15s ease-in-out;
        }

        .radio-inputs .radio input:checked+.name {
            background-color: #000000;
            font-weight: 600;
        }

        #heading {
            color: #E6970D;
        }

    @media (min-width: 992px) {
        .fixed-image {
            max-width: 350px;
            max-height: 350px;
            width: auto;
            height: auto;
        }
    }

    .footer{
      background-color: #2c2c2c;
    }

    .blur-image {
    filter: blur(4px); 
}


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar1">
        <a class="navbar-brand" href="/"><img src="/shop/img/ll.png"></a>
        <div class="container">
      <div class="row">
        <div class="col-md-8">
          <form action="/search" method="GET" id="search-form"> 
            <div class="input-container">
              <input type="text" class="form-control search-input" id="search-input" name="searchTerm"
                placeholder="Explore" aria-label="Search" aria-describedby="basic-addon2">
            </div>
          </div>
          <div class="col-md-4">
            
            <div class="input-group-append">
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </div>
          </form> 
          
        </div>
      </div>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link"
                                    style="font-weight: 500;margin-top: 0.5rem;font-family: 'VT323', monospace; letter-spacing: 3px;color:#E6970D;">

                                    <h1>All Products</h1>
                                     
                                </a>
                            </li>

                        </ul>
                    </ul>


                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <div class="dropdown show">
                              <a class="btn dropdown-toggle text-light" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-expanded="false">
                                Categories
                              </a>
                
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/allproducts">All Products</a>
                                <div class="dropdown-divider"></div>
                                <% categoryData.forEach((category)=>{ %>
                                    <% if (category.isBlocked === false) { %>
                                        <a class="dropdown-item" href="/category/desktop-pcs?cat=<%=category._id %>">
                                          <%= category.CategoryName %>
                                        </a>
                                     
                                    <% } %>
                                  <% }) %>
                
                              </div>
                            </div>
                          </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart"><i class="fas fa-shopping-cart"></i></a>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>


                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <% if (user) { %>
                                    <a class="dropdown-item" href="account">
                                        <%= user.username %>
                                    </a>
                                    <div class="dropdown-divider"></div>
                   
                                    <a class="dropdown-item" href="orders">
                                     my Orders
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="logout">X Log Out X</a>
                                    <% } else { %>
                                        <a class="dropdown-item" href="login">Sign In</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="signup">Create an Account</a>
                                        <% } %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

    </nav>

    <div id="heading" style="background-color:rgb(26, 26, 26);width: 100%;  align-items: center; justify-content: right; display: flex; padding-right: 30px;">
        <div class="radio-inputs">
            <label class="radio">
                <input type="radio" name="sort-option" class="sort-checkbox" data-sort="a-z">
                <span class="name">A-Z</span>
            </label>
            <label class="radio">
                <input type="radio" name="sort-option" class="sort-checkbox" data-sort="price-high-to-low">
                <span class="name">High-to-Low</span>
            </label>
            <label class="radio">
                <input type="radio" name="sort-option" class="sort-checkbox" data-sort="price-low-to-high">
                <span class="name">Low-to-High</span>
            </label>
        </div>


    </div>


    <section style="background-color: rgb(26, 26, 26);">
        <div class="container py-5" id="product-list">
            <div class="row justify-content-center">


                <% if (!products || products.length===0 ) { %>
                    <p>No products found.</p>
                    <% } else { %>
                        
                        
                        <% products.forEach((product, index)=> { %>
                            
                            <% if (product.isBlocked == false) { %>
                            <% if (index % 3===0) { %>
            </div>
            <div class="row justify-content-center">
                <% } %>
                    <div class="col-md-4 col-lg-4 col-xl-4 my-5">
                      <img src="/uploads/<%= product.productImage[0] %>" alt="Product Image" class="card-img-top fixed-image <%= product.productQuantity === 0 ? 'blur-image' : '' %>">
                      <div class="card text-black">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="card-title">
                                        <%= product.productName %>
                                    </h5>
                                    <container class="description">
                                        <p class="text-muted mb-4 description-truncate">
                                            <%= product.productDescription %>
                                        </p>
                                    </container>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>Price:</span>
                                        <span>
                                            <b>₹</b>
                                            <% if (product.catoffer && product.catofferPrice < product.productPrice) { %>
                                                <strike><%= product.productPrice %></strike> <%= product.catofferPrice %>
                                                (<%= product.catofferPercentage %> off)
                                            <% } else if (product.offer && product.offerPrice < product.productPrice) { %>
                                                <strike><%= product.productPrice %></strike> <%= product.offerPrice %>
                                               <span style="color: #ff0000;"> (<%= product.offerPercentage %>% off)</span>
                                            <% } else { %>
                                                <%= product.productPrice %>
                                            <% } %>
                                        </span>
                                    </div>
                                    
                                    <div class="d-flex justify-content-between">
                                        <span></span><span></span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>Category</span><span>
                                            <%= product.category.CategoryName %>
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                </div>
                                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                  <span class="heart-icon">
                                    <% if (product.productQuantity > 0) { %>
                                        <a href="" onclick="addToWishlist('<%=product._id%>')"><i class="fas fa-heart"></i></a>
                                        <a href="" onclick="addToCart('<%= product._id %>')"><i class="fas fa-shopping-cart"></i></a>
                                    <% } %>
                                </span>
                                <span></span>
                                <span>
                                    <% if (product.productQuantity > 0) { %>
                                        <a href="productdetails?productId=<%= product._id %>">
                                            <button type="button" class="btn btn-outline-dark shop-now-button">Shop Now</button>
                                        </a>
                                    <% } %>
                                </span>
                                
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <% } %>
                    <% }); %>
                    <% } %>
                  </div>
                </div>
    </section>
    <footer class="footer text-white py-4">
        <div class="container" style="  font-family: 'DotGothic16', sans-serif;">
    
          <div class="row">
            <div class="col-md-6">
    
              <h3>Cyborg Gaming</h3>
        <p>At Cyborg Gaming, we are dedicated to providing you with the most cutting-edge prebuilt gaming PCs and immersive gaming experiences. Our mission is simple: to fuel your passion for gaming by offering top-notch hardware and the latest games at your fingertips.</p>
               </div>
            <div class="col-md-3">
              <h3>Quick Links</h3>
              <ul class="list-unstyled quick-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3>Contact Info</h3>
              <address>
                <p><i class="fa fa-map-marker"></i>404 WallStreet, NYC, Manhattan</p>
                <p><i class="fa fa-envelope"></i> support@cyborg.com</p>
                <p><i class="fa fa-phone"></i> +1 653 4823</p>
              </address>
            </div>
    
          </div>
    
          <section class="mb-4 text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#" role="button"><i
                class="fab fa-facebook-f"></i></a>
    
            <!-- Twitter -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
    
            <!-- Google -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
    
            <!-- Instagram -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
    
            <!-- Linkedin -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
    
            <!-- Github -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <section class="">
          <form action="/signup" method="get">
            <p class="d-flex justify-content-center align-items-center">
              <span style="  font-family: 'DotGothic16', sans-serif;">Register for free--<br></span>
              <button type="submit" class="btn btn-outline-warning btn-rounded">
                Sign up!
              </button>
          </form>
          </p>
        </section>
        </div>
      </footer>



      <script>

        function addToWishlist(productId) {
          $.ajax({
            url: `/wishlistload?productId=${productId}`,
            type: 'GET',
            success: function (response) {
              if (response.success) {
                toastr.options = {
                  closeButton: true,
                  positionClass: "toast-bottom-right",
                  timeOut: 3000,
                  toastClass: "toast-success"
                };
                toastr.success("Product added to Wishlist!", "Success", {
                  progressBar: true,
                });
              } else {
                toastr.options = {
                  closeButton: true,
                  positionClass: "toast-bottom-right",
                  timeOut: 3000,
                  toastClass: "toast-error"
                };
                toastr.error(response.message, "Error", {
                  progressBar: true,
                });
                setTimeout(()=>{
              window.location.href = "/login"; 

            },1000)
              }
            },
            error: function (error) {
              toastr.options = {
                closeButton: true,
                positionClass: "toast-bottom-right",
                timeOut: 3000,
                toastClass: "toast-error"
              };
              toastr.error("Failed to add product to Wishlist. Please try again.", "Error", {
                progressBar: true,
              });
            }
          });
        }
      </script>

    <script>
        $('.sort-checkbox').click(function () {
            var selectedOption = $(this).data('sort');
            $.ajax({
                type: 'POST',
                url: 'allproducts',
                data: { sortOption: selectedOption },
                success: function (response) {
                    $('body').empty();
                    $('body').html(response);
                },
                error: function (error) {
                    console.error('Error sending data:', error);
                }
            });
        });
</script>



  
  <script>

    function addToCart(productId) {
      $.ajax({
        url: `/cartload?productId=${productId}`,
        type: 'GET',
        success: function (response) {
          if (response.success) {
            toastr.options = {
              closeButton: true,
              positionClass: "toast-bottom-right",
              timeOut: 3000,
              toastClass: "toast-success"
            };
            toastr.success("Product added to cart!", "Success", {
              progressBar: true,
            });
          } else {
            toastr.options = {
              closeButton: true,
              positionClass: "toast-bottom-right",
              timeOut: 3000,
              toastClass: "toast-error"
            };
            toastr.error("Failed to add product to cart. Please try again.", "Error", {
              progressBar: true,
            });
            setTimeout(()=>{
              window.location.href = "/login"; 
  
            },1000)
          }
        },
        error: function (error) {
          toastr.options = {
            closeButton: true,
            positionClass: "toast-bottom-right",
            timeOut: 3000,
            toastClass: "toast-error"
          };
          toastr.error("Failed to add product to cart. Please try again.", "Error", {
            progressBar: true,
          });
     
        }
      });
    }
  </script>
         
         <script>
  const searchForm = document.getElementById("search-form");
  const searchInput = document.getElementById("search-input");

  searchForm.addEventListener("submit", function (event) {
    
    event.preventDefault();

    const searchTerm = searchInput.value;
  $.ajax({
      type: 'GET', 
      url: '/search', 
      data: { searchTerm: searchTerm }, 
      success: function (response) {
          $('body').empty();
          $('body').html(response);
      },
      error: function (error) {
          console.error('Error sending data:', error);
      }
  });
})
</script>


  <script>
    document.getElementById("search-form").addEventListener("submit", function (e) {
      var searchTerm = document.getElementById("search-input").value.trim(); 
      if (!searchTerm) {
        e.preventDefault(); 
      }
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>




</body>

</html>