<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>


  <style>
    body {

      background-color: #151313;
      color: rgb(0, 0, 0);
    }

    .product-img {
      max-width: 100%;
      height: auto;
    }

    .btn-group {
      display: flex;
      gap: 10px;
    }

    

        #navbar1 {
            background-color: #000000 !important;
            font-family: 'DotGothic16', sans-serif;
        }

        .navbar-brand {
            color: white;
            font-weight: 900;
        }

        .navbar-brand:hover {
            color: white;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-item {
            padding: 0 15px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

        .navbar-toggler-icon {
            background-color: rgb(0, 0, 0);
        }

        @media (max-width: 767px) {
            .navbar-collapse {
                justify-content: center;
            }
        }

        .c-item {
            height: 100%;
        }

        .c-img {
            height: 100%;
            object-fit: cover;
            }
            
          .description-scroll {
            max-height: 10em;
            overflow: auto; 
           }



        .heart-icon i {
            color: black;
            transition: color 0.3s;

        }


        .heart-icon:hover i {
            color: red;
        }


        .cart-icon-link i {
            color: black;
            padding: 15px;
        }

        .cart-icon-link:hover i {
            color: blue;

        }

        .card-body {
            background-color: #e80000;
        }
        
        .table thead th {
            border: 1px solid #dee2e6;
            background-color: #6d6d6d;
            color: #000;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }

        .table tbody td {
            border: 1px solid #dee2e6;
            text-align: center;
            vertical-align: middle;
        }

        .cart-img {
            max-width: 80px;
            height: auto;
        }

        .quantity-input {
            width: 100px;
            text-align: center;
        }

        .delete-btn {
            color: #ff0000;
            cursor: pointer;
        }

        .total-price {
            font-weight: bold;
        }
        h1, p{
            font-family: 'DotGothic16', sans-serif;
            color: #f3af02;
        }
    </style>
</head>

  </style>
</head>

<body >
   
      
        <section class="ftco-section bg-light col-md-12">
            <div class="container" id="cart-container">
              <% if (!user) { %>
                <div class="no-products-container align-items-center">
                  <img class="img" src="/image/0items.webp" alt="No products">
                </div>
                <div class="button-container">
                  <a href="/userlogin">
                    <button class="btn btn-primary btn-lg center-button">Login here</button>
                  </a>
                </div>
              <% } else { %>
                <div class="row">
                  <% cartItems.forEach(function(cartItem) { %>
                    <% if (cartItem.products.length === 0 ) { %>
                     
                        <h1 style="color: #000;">No products</h1>
                      <% } else { %>
                      <div class="table-wrap col-md-12">
                        <div class="table-responsive">
                          <table class="table">
                            <thead class="thead-primary">
                              <tr>
                                <th style="padding-right:90px;">Image</th>
                                <th style="padding-right:200px;">Product</th>
                                <th style="padding-right:40px;">Price(₹)</th>
                                <th style="padding-right:110px;">Quantity</th>
                                <th style="padding-right:40px;">Total(₹)</th>
                                <th class="col">Remove</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% cartItem.products.forEach(function(product, index) { %>
                            
                                  
                                <tr>
                                  <td class="image">
                                    <div class="img-container" style="max-width: 150px;">
                                      <a href="/product-details?productId=<%= product.productId %>">
                                        <img src="/uploads/<%= product.productId.productImage[0] %>" class="cart-img" alt="Product Image">
                                    </a>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="product-info">
                                      <span class="product-name"><%= product.productId.productName %></span>
                                      <span class="product-category">(<%= product.productId.productBrand %>)</span>
                                    </div>
                                  </td>
                                  <% if (product.productId.offerPrice !== 0 || product.productId.catofferPrice !== 0) { %>
                                    <td class="price">
                                      <% if (product.productId.offerPrice > 0 && product.productId.catofferPrice > 0) { %>
                                        <% if (product.productId.offerPrice > product.productId.catofferPrice) { %>
                                          <%= product.productId.catofferPrice %> > (<%= product.productId.catofferPercentage%>% off)
                                        <% } else if (product.productId.offerPrice < product.productId.catofferPrice) { %>
                                          <%= product.productId.offerPrice %>(<%= product.productId.offerPercentage %>% off)

                                        <% } %>
                                      <% } else if (product.productId.offerPrice > 0) { %>
                                        <%= product.productId.offerPrice %> <span style="color: #e80000;"> (<%= product.productId.offerPercentage %>% off)</span>

                                      <% } else if (product.productId.catofferPrice > 0) { %>
                                        <%= product.productId.catofferPrice %> <span style="color: #e80000;"> (<%= product.productId.catofferPercentage%>% off)</span>

                                      <% } %>
                                  
                                    </td>
                                  <% } else { %>
                                    <td class="price">
                                      <%= product.productId.productPrice %>
                                    </td>
                                  <% } %>
                                  
                                   
                                  
                                  <td class="quantity">
                                    <% if(product.stock===0) { %>
                                      <p class="text-danger">Out of stock</p>
                                    <% } else { %>
                                      <div class="input-group col-md-12 mb-3">
                                        <span class="input-group-prepend">
                                          <button type="button" class="quantity-left-minus btn" data-product-id="<%= product._id %>" data-prod-id = " <%= product.productId.productId %> " data-orderId="<%= cartItems._id %>">
                                            <i class="fa fa-minus"></i>
                                          </button>
                                        </span>
                                        <input type="text" id="quantity-<%= product._id %>" name="quantity" class="quantity form-control input-number" value="<%= product.quantity %>" min="1" max="<%= product.productId.productQuantity %>" onchange="updateQuantity('<%= product._id %>')">
                                        <span class="input-group-append">
                                          <button type="button" class="quantity-right-plus btn" data-product-id="<%= product._id %>" data-prod-id = "<%= product.productId.productId %> " data-orderId="<%= cartItems._id %>">
                                            <i class="fa fa-plus"></i>
                                          </button>
                                        </span>
                                        <% if(product.productId.productQuantity <=3) {%>
                                             <span style="color: #ff0000;">Only <%= product.productId.productQuantity %> left in stock</span>
                                          <% } %>
                                      </div>
                                    <% } %>
                                  </td>
                               
                                 
                                    <% let total = product.productId.originalPrice * product.quantity; %>
                                    <td class="total">
                                      $<%= total %>
                                    </td>
                                  <td class="remove">
                                    <a href="/removeCart?productId=<%= product._id %>&index=<%= index %>" class="btn btn-outline-danger">Remove</a>
                                  </td>
                                </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    <% } %>
                  <% }) %>
                </div>
              <% } %>
            </div>
          </section>
          
          <div class="row justify-content-center bg-light mr-md-1">
            <div class="col-md-4 mb-5 p-5" >
              <a href="/allproducts" class="btn btn-outline-success d-block">Shop more <span class="fa fa-long-arrow-right"></span></a>
            </div>
          </div>
       
          
        </div>
     
        <% cartItems.forEach(function(cartItem) { %>
              <% if (cartItem.products.length !== 0 && user) { %>
              <div class="row justify-content-end bg-light mr-md-1 ">
                <div class="col col-lg-5 col-md-6 mb-md-5 mr-md-5 cart-wrap ftco-animate shadow">
                  <div class="cart-total mb-3 bg-light" style="border: none;">
                  
                    
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                      <span>Subtotal</span>
                      <span id="total-quantity"></span>
                    </p>
                    <p class="d-flex">
                      <span>Delivery</span>
                      <span id="delivery-charge"></span>
                    </p>
                
                    <hr>
                    <p class="d-flex total-price">
                      <span>Total: ₹</span>
                      <span id="total-price"></span>
                    </p>
                  </div>
       
                  <p class="text-center">
                    <a href="/precheckout" class="btn btn-outline-dark py-3 px-4" id="checkout-btn"><button class="btn btn-muted" onclick="updateQuantityInDatabase()">Proceed to Checkout</button><span id="amount"></span></a>
                  </p>
                </div>
              </div>
              <% } %>
              <% }) %>
              
   
        




    <script>
      $(document).ready(function () {
        $("#couponForm").submit(function (event) {
          event.preventDefault();
          var formData = $(this).serialize();
    
          $.ajax({
            url: "/checkCoupon",
            type: "POST",
            data: formData,
            success: function (response) {
              location.reload();
            },
            error: function (error) {
              console.error(error);
            },
          });
        });
      });
    </script>

<script>
	$(document).ready(function () {
  $('.quantity-right-plus').click(function (e) {
    e.preventDefault();
    var $row = $(this).closest('tr');
    var quantityInput = $row.find('.quantity input');
    var quantity = parseInt(quantityInput.val());
    var price = parseFloat($row.find('.price').text());
	var maxQuantity = parseInt(quantityInput.attr('max'));
    var total = isNaN(quantity) || isNaN(price) ? 0 : (quantity * price)+price;
    $row.find('.total').text(total.toFixed(2));
    if(quantity<maxQuantity){
		quantity += 1;
        quantityInput.val(quantity);
	} else{
        quantityInput.val(quantity);
	}
	
    var productId = $(this).data('product-id');
    updateQuantityInDatabase(productId,quantity);
    calculateSum();
  });

  $('.quantity-left-minus').click(function (e) {
    e.preventDefault();
    var $row = $(this).closest('tr');
    var quantityInput = $row.find('.quantity input');
    var quantity = parseInt(quantityInput.val());
    if (quantity > 1) {
      var price = parseFloat($row.find('.price').text());
      var total = isNaN(quantity) || isNaN(price) ? 0 : (quantity * price)+price;
      $row.find('.total').text(total.toFixed(2));
      quantity -= 1;
      quantityInput.val(quantity);

      var productId = $(this).data('product-id');
      updateQuantityInDatabase(productId, quantity);
    }
    calculateSum();
  });

  $('.quantity').on('change', function () {
    var $row = $(this).closest('tr');
    var quantity = parseInt($(this).val());

    var price = parseFloat($row.find('.price').text());
    var total = isNaN(quantity) || isNaN(price) ? 0 : (quantity * price)+price;
    $row.find('.total').text(total.toFixed(2));
    var productId = $(this).attr('id').replace('quantity-', '');
    updateQuantityInDatabase(productId, quantity);
    calculateSum();
  });

  function updateQuantityInDatabase(productId, quantity) {
    $.ajax({
      url: '/updateQuantity',
      type: 'POST',
      data: { productId: productId, quantity: quantity },
      success: function (response) {
      },
      error: function (xhr, status, error) {
        console.error('Error updating quantity and price:', error);
      }
    });
  }


});


</script>




<script>
	$(document).ready(function () {
  function calculateSum() {
    var sum = 0;
    var totalQuantity = 0; 
    $('tbody tr').each(function () {
      var $row = $(this);
      var quantity = parseInt($row.find('.quantity input').val());
      var price = parseFloat($row.find('.price').text());
      var total = isNaN(quantity) || isNaN(price) ? 0 : quantity * price;
      $row.find('.total').text(total.toFixed(2));
      sum += total;
      totalQuantity += quantity;
    });
    if(totalQuantity === 0){
		$('.row.justify-content-end.bg-light.mr-1').hide();
		$('.table-responsive').hide();
	}
    var deliveryCharge = sum < 5000 ? 47 : 0;

    var totalPrice = sum + deliveryCharge;
    const cartId = $('#cart-container').data('cart-id');
$.ajax({
    url: 'updateQuantity',
    type: 'POST', 
    data: {
        cartId: cartId,
        totalPrice: totalPrice 
    },
    success: function (response) {
        console.log('Total price sent successfully:', response);
    },
    error: function (xhr, status, error) {
        console.error('Error sending total price:', error);
    }
});



    $('.sum').text(sum.toFixed(2));
    $('#total-quantity').text('₹ '+sum.toFixed(2)); 
    $('#delivery-charge').text('₹ '+deliveryCharge);
    $('#total-price').text(totalPrice.toFixed(2));
	$('#amount').text('  ('+totalQuantity+')' + ' items');
	var checkoutBtn = $('#checkout-btn');
    var currentHref = checkoutBtn.attr('href');
    var updatedHref = currentHref.split('?')[0] + '?totalPrice=' + totalPrice.toFixed(2);

    checkoutBtn.attr('href', updatedHref);
  }

  calculateSum();

  $('.quantity-right-plus, .quantity-left-minus, .quantity').on('click change', function () {
    calculateSum();
  });
 
});

</script>
</body>
</html>
