<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {

      background-color: #151313;
      color: rgb(186, 186, 186);
    }

    .product-img {
      max-width: 100%;
      height: auto;
    }

    .btn-group {
      display: flex;
      gap: 10px;
    }

    

        #navbar1 {
            background-color: #000000 !important;
            /* Set the background color to pitch black */
            font-family: 'DotGothic16', sans-serif;
        }

        .navbar-brand {
            color: white;
            font-weight: 900;
        }

        .navbar-brand:hover {
            color: white;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-item {
            padding: 0 15px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

        .navbar-toggler-icon {
            background-color: rgb(0, 0, 0);
        }

        @media (max-width: 767px) {
            .navbar-collapse {
                justify-content: center;
            }
        }

        .c-item {
            height: 100%;
        }

        .c-img {
            height: 100%;
            object-fit: cover;
            }
            
          .description-scroll {
            max-height: 10em;
            overflow: auto; 
           }



        .heart-icon i {
            color: black;
            transition: color 0.3s;

        }


        .heart-icon:hover i {
            color: red;
        }


        .cart-icon-link i {
            color: black;
            padding: 15px;
        }

        .cart-icon-link:hover i {
            color: blue;

        }

        .card-body {
            background-color: #e80000;
        }
        
        .table thead th {
            border: 1px solid #dee2e6;
            background-color: #6d6d6d;
            color: #000;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }

        .table tbody td {
            border: 1px solid #dee2e6;
            text-align: center;
            vertical-align: middle;
        }

        .cart-img {
            max-width: 80px;
            height: auto;
        }

        .quantity-input {
            width: 100px;
            text-align: center;
        }

        .delete-btn {
            color: #ff0000;
            cursor: pointer;
        }

        .total-price {
            font-weight: bold;
        }
        h1, p{
            font-family: 'DotGothic16', sans-serif;
            color: #f3af02;
        }
    </style>
</head>

  </style>
</head>

<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar1">
        <a class="navbar-brand" href="/"><img src="/shop/img/ll.png"></a>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% categoryData.forEach((category)=>{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/desktop-pcs?cat=<%=category._id %>"><%= category.CategoryName %></a>
                    </li>
                    <% }) %>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-heart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cart"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <% if (user) { %>
                            <a class="dropdown-item" href=""><%= user.username %></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="logout">X Log Out X</a>
                            <% } else { %>
                            <a class="dropdown-item" href="login">Sign In</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="signup">Sign Up</a>
                            <% } %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
      
<div class="container mt-5">
    <h1>Your Cart</h1>
    <% if (cartItems.length) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Amount</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% let totalPrice = 0; %>
                <% cartItems.forEach((cart) => { %>
                    <% cart.products.forEach((item, index) => { %>
                        <tr>
                            <td>
                                <% if (item.productId && item.productId.productImage && item.productId.productImage.length > 0) { %>
                                    <img src="/uploads/<%= item.productId.productImage[0] %>" class="cart-img" alt="Product Image">
                                <% } else { %>
                                    <img src="#" class="cart-img" alt="No Image Available">
                                <% } %>
                            </td>
                            <td><%= item.productId.productName %></td>
                            <td class="description-scroll"><%= item.productId.productBrand %></td>
                            <td id="price<%= item._id %>"><%= item.productId.productPrice %></td>
                            <td>
                                <input type="number" class="form-control quantity-input" value="<%= item.quantity %>" min="1" max="<%= item.productId.productQuantity %>" id="quantityInput<%= item._id %>" >
                            </td>
                           
                                <input id="idInput<%= item._id %>"value="<%= item._id %>" hidden>
                           
                            <td id="totalAmount<%= item._id %>"><%= item.quantity * item.productId.productPrice %></td>
                            
                            <td>
                                <a href="/removeCart?productId=<%= item.productId._id%>&index=<%= index %>"><i class="fas fa-trash-alt delete-btn"></i></a>
                            </td>
                        </tr>
                    <% }); %>              
                <% }); %>
            </tbody>
        </table>
        <p class="text-right total-price" id="cartTotalPrice">Total price:</p>
        <div class="row">
            <div class="col-md-4 offset-md-8">
            
                
                
                <div class="text-center mt-4">
                    <a href="/precheckout" class="btn btn-outline-warning" style="font-family: 'DotGothic16', sans-serif;">Checkout</a>
                </div>
            </div>
            </div>
        </div>
    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>
    
    
    
  
</div>


  <!-- Bootstrap JS (optional if you need to add JavaScript functionality) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    function updateQuantity(cartId, itemId, newQuantity) {
      const maxStock = parseInt(document.getElementById(`quantity-input-${itemId}`).getAttribute('max'));
  
      if (newQuantity < 1) {
        toastr.error("Quantity cannot be less than 1!", "Error");
        document.getElementById(`quantity-input-${itemId}`).value = 1;
        return;
      }
  
      if (newQuantity > maxStock) {
        toastr.error("Quantity exceeds available stock!", "Error");
        document.getElementById(`quantity-input-${itemId}`).value = maxStock;
        return;
      }  
      toastr.success("Quantity updated successfully!", "Success");
    }
  </script>


<script>
  function updateTotalAmount(productId) {
  const quantityInput = document.getElementById(`quantityInput${productId}`);
  const totalAmountCell = document.getElementById(`totalAmount${productId}`);
  const productPrice = document.getElementById(`price${productId}`);
  const idInput = document.getElementById(`idInput${productId}`);
  var id = idInput.value
  const priceText = productPrice.textContent.trim();
  const price = parseFloat(priceText.replace(' ')).toFixed(2);

      var quantity = quantityInput.value
      let number = quantityInput.value * price
      number = number.toFixed(2);
      totalAmountCell.textContent = `₹${number}`;
      updateQuantityInDatabase(id, quantity)
  }


    const quantityInputs = document.querySelectorAll('.quantity-input');
    quantityInputs.forEach((input) => {
      input.addEventListener('input', () => {
        const productId = input.id.replace('quantityInput', '');
        updateTotalAmount(productId);
        updateCartTotalPrice();
        console.log("-------------");
      });
    });

    function updateQuantityInDatabase(productId, quantity) {
    $.ajax({
      url: '/updateQuantity',
      type: 'POST',
      data: { productId: productId, quantity: quantity },
      success: function (response) {
        console.log('Quantity and price updated in the database');
      },
      error: function (xhr, status, error) {
        console.error('Error updating quantity and price:', error);
      }
    });
  }

  function extractNumericValue(text) {
        const numericRegex = /[\d.]+/; 
        const matches = text.match(numericRegex);
        if (matches && matches.length > 0) {
            return parseFloat(matches[0]);
        }
        return 0;
    }

  function updateCartTotalPrice() {
        let totalAmount = 0
        const cartRows = document.querySelectorAll(".table tbody tr");

        cartRows.forEach((row) => {
            const totalAmountCell = row.querySelector("[id^='totalAmount']");
            const amount = extractNumericValue(totalAmountCell.innerText);
            totalAmount += amount;
        });
        const cartTotalPrice = document.getElementById("cartTotalPrice");
        cartTotalPrice.textContent = totalAmount.toFixed(2);
        
        $.ajax({
            url:'/getTotalPrice',
            method: 'GET',
            data:{totalAmount: totalAmount },

            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.error(error); 
            }
        });

               
    }
</script>
</body>
</html>
