<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Page</title>
  <link rel="stylesheet" href="../../public/AddOnStyles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {

      background-color: #151313;
      color: rgb(186, 186, 186);
  
    }

    .product-img {
      max-width: 100%;
      height: auto;
    }

    .btn-group {
      display: flex;
      gap: 10px;
    }

    .product-description {
      margin-top: 20px;
    }
    

        #navbar1 {
            background-color: #000000 !important;
            font-family: 'DotGothic16', sans-serif;
        }

        .navbar-brand {
            color: white;
            font-weight: 900;
        }

        .navbar-brand:hover {
            color: white;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-item {
            padding: 0 15px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

        .navbar-toggler-icon {
            background-color: rgb(0, 0, 0);
        }

        @media (max-width: 767px) {
            .navbar-collapse {
                justify-content: center;
            }
        }

        .c-item {
            height: 100%;
        }

        .c-img {
            height: 100%;
            object-fit: cover;
            }
            
          .description-scroll {
            max-height: 10em;
            overflow: auto; 

           }

           .description-scroll::-webkit-scrollbar{
      display: none
    }



        .heart-icon i {
            color: black;
            transition: color 0.3s;

        }


        .heart-icon:hover i {
            color: red;
        }


        .cart-icon-link i {
            color: black;
            padding: 15px;
        }

        .cart-icon-link:hover i {
            color: blue;

        }

        .card-body {
            background-color: #c7c7c7;
        }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}
.footer{
  margin-top: 100px;
}

.product-img {
  transform: scale(1);
  transition: transform 0.2s; 
}


.product-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}


</style>
</head>

</style>
</head>

<body >
 

<% if (!productData) { %>
 <h6>No products found</h6>
<% } else {%> 
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col d-flex justify-content-center ">
            <img src="/uploads/<%=  productData.productImage[2] %>" alt="Product Image" class="product-img" id="productImage">
          </div>      
          </div>
          <div class="row d-flex justify-content-center my-3">
            <% productData.productImage.forEach((imageUrl, index) => { %>
              <img src="/uploads/<%= imageUrl %>" alt="Product Image" class="product-img me-2" style="height: 100px; width: 100px; object-fit: fill;" data-index="<%= index %>">
            <% }); %>
          </div>
          
          
      </div>
      <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img src="" alt="Enlarged Image" id="enlargedImage" style="max-width:60%; max-height: 80vh; margin: auto; display: block;">
      </div>
      
      <div class="col-md-6">
        <h2 style="color: #E6970D; font-family: 'DotGothic16', sans-serif;"><%=productData.productName%></h2>
        <h4><%= productData.productBrand%></h4>
        <h4>Price: ₹ 
          <% if (productData.catoffer && productData.catofferPrice < productData.productPrice) { %>
              <strike><%= productData.productPrice %> /-</strike> <%= productData.catofferPrice %> /-
              (<%= productData.catofferPercentage %> off)
          <% } else if (productData.offer && productData.offerPrice < productData.productPrice) { %>
              <strike><%= productData.productPrice %> /-</strike> <%= productData.offerPrice %> /-
             <span style="color: #f44336;"> (<%= productData.offerPercentage %>% off)</span>
          <% } else { %>
              <%= productData.productPrice %> /-
          <% } %>
      </h4>
      
   
      <% if (productData.productQuantity>0) { %>       
        <div class="btn-group">
          <a href="#" onclick="addToCart('<%= productData._id %>')"><button class="btn btn-outline-success" ><i class="fas fa-shopping-cart"  ></i> Add to Cart</button></a>
        <a>  <button class="btn btn-outline-light" onclick="addToWishlist('<%=productData._id%>')"><i class="fas fa-heart"></i> Wishlist</button></a>
        </div> 
      <% } else {%>
        <p>Out of Stock</p>
     <% } %>
       
        <div class="product-description description-scroll">
          <h5>Description</h5>
          <container class="description">
            <p >
                <%= productData.productDescription %>
            </p>
        </container>
        </div>
        <div class="product-features">
          <h5 class="my-3">  Features</h5>
          <ul>
            <li>Free Delivery</li>
            <li>COD on selected cities</li>
            <li>7-day return policy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% } %>


<script>
  const productData = <%- JSON.stringify(productData) %>
</script>

<script>
  
  const productImages = document.querySelectorAll('.product-img');
  const modal = document.getElementById('imageModal');
  const enlargedImage = document.getElementById('enlargedImage');
  
  
 
  productImages.forEach((image, index) => {
    image.addEventListener('click', () => {
      modal.style.display = 'block';
      enlargedImage.src = `/uploads/${productData.productImage[index-1]}`;
    });
  });

  modal.addEventListener('click', (event) => {
    if (event.target === modal || event.target.classList.contains('close')) {
      modal.style.display = 'none';
    }
  });
</script>
<style>
  .toast-success {
    background-color: #4caf50;
  }

  .toast-error {
    background-color: #f44336;
  }
</style>

<script>

  function addToCart(productId) {
    $.ajax({
      url: `/cartload?productId=${productId}`,
      type: 'GET',
      success: function (response) {
        if (response.success) {
          toastr.options = {
            closeButton: true,
            positionClass: "toast-bottom-right",
            timeOut: 3000,
            toastClass: "toast-success"
          };
          toastr.success("Product added to cart!", "Success", {
            progressBar: true,
          });
        } else {
          toastr.options = {
            closeButton: true,
            positionClass: "toast-bottom-right",
            timeOut: 3000,
            toastClass: "toast-error"
          };
          window.location.href = "/login"; 
          toastr.error("Failed to add product to cart. Please try again.", "Error", {
            progressBar: true,
          });
          setTimeout(()=>{
              window.location.href = "/login"; 

            },1000)
        }
      },
      error: function (error) {
        toastr.options = {
          closeButton: true,
          positionClass: "toast-bottom-right",
          timeOut: 3000,
          toastClass: "toast-error"
        };
        toastr.error("Failed to add product to cart. Please try again.", "Error", {
          progressBar: true,
        });
     
      }
    });
  }


  function buyNow(productId) {
    $.ajax({
      url: `/cartload?productId=${productId}`,
      type: 'GET',
      success: function (response) {
        if (response.success) {

          window.location.href = 'precheckout';
        } else {
 
          toastr.options = {
            closeButton: true,
            positionClass: "toast-bottom-right",
            timeOut: 3000,
   
            toastClass: "toast-error"
          };
          toastr.error("Failed to add product to cart. Please try again.", "Error", {
            progressBar: true,
          });
        }
      },
      error: function (error) {
     
        toastr.options = {
          closeButton: true,
          positionClass: "toast-bottom-right",
          timeOut: 3000,
         
          toastClass: "toast-error"
        };
        toastr.error("Failed to add product to cart. Please try again.", "Error", {
          progressBar: true,
        });
        setTimeout(()=>{
              window.location.href = "/login"; 

            },1000)
      }
    });
  }
</script>

<script>

  function addToWishlist(productId) {
    $.ajax({
      url: `/wishlistload?productId=${productId}`,
      type: 'GET',
      success: function (response) {
        if (response.success) {
          toastr.options = {
            closeButton: true,
            positionClass: "toast-bottom-right",
            timeOut: 3000,
            toastClass: "toast-success"
          };
          toastr.success("Product added to Wishlist!", "Success", {
            progressBar: true,
          });
        } else {
          
          toastr.options = {
            closeButton: true,
            positionClass: "toast-bottom-right",
            timeOut: 3000,
            toastClass: "toast-error"
          };
          toastr.error("Error adding product to wishlist", "Error", {
            progressBar: true,
          });
          setTimeout(()=>{
              window.location.href = "/login"; 

            },1000)
        }
      },
      error: function (error) {
        

        toastr.options = {
          closeButton: true,
          positionClass: "toast-bottom-right",
          timeOut: 3000,
          toastClass: "toast-error"
        };

        toastr.error("Failed to add product to Wishlist. Please try again.", "Error",
         {
          progressBar: true,
        });
      }
    });
  }
</script>

</body>
 
</html>
