
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../public/AddOnStyles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
    <style>

        body {
    background-image: url('/shop/img/profilebg.png');
    background-color: #212020;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: 'DotGothic16', sans-serif;
}

.card-body:hover{
cursor: pointer;
}

        h1,
        h2,
        h3 {
            font-family: 'DotGothic16', sans-serif;
            color: #ffc107;
        }



        #navbar1 {
            background-color: #000000 !important;
        
            font-family: 'DotGothic16', sans-serif;
        }

        .navbar-brand {
            color: white;
            font-weight: 900;
        }

        .navbar-brand:hover {
            color: white;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-item {
            padding: 0 15px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

        .navbar-toggler-icon {
            background-color: rgb(0, 0, 0);
        }

        @media (max-width: 767px) {
            .navbar-collapse {
                justify-content: center;
            }
        }

    
        .custom-card {
            
            background-color: #212121;
            color: #fff;
            border: none;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;

        }

        .custom-card h2 {
            color: #ffc107;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .custom-card ul {
            padding-left: 20px;
        }

        .custom-card li {
            margin-bottom: 10px;
        }

        .custom-card .card-link {
            color: #ffc107;
        }

        .custom-card .card-link:hover {
            text-decoration: none;
        }

        .cardtransparent{
            background: rgba( 255, 255, 255, 0.1 );

backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .card {
    position: relative;
    overflow: hidden;
}

.profile-image {
    position: absolute;
    top: 10px;
    right: 10px; 
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    border: 2px solid #fff;
    z-index: 1;
}

.list-group-item{
    background: rgba( 0, 0, 0, 0.4 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: #ffffff; 
font-family: 'DotGothic16', sans-serif;
letter-spacing: 2px;
}
    
.list-group-item:hover{
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-content {
  background-color: #00000042;
  margin: 15% auto;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.transaction-item.even {
  background-color: #ffffff5f; 
  border-bottom: 1px solid #ddd; 
  padding: 10px;
}

.transaction-item.odd {
  background-color: #ffffff5f; 
  border-bottom: 1px solid #000000; 
  padding: 10px;
}


    </style>
</head>

<body>

    <body id="hero">


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar1">
            <a class="navbar-brand" href="/"><img src="/shop/img/ll.png"></a>
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
        
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="dropdown show">
                              <a class="btn dropdown-toggle text-light" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-expanded="false">
                                Categories
                              </a>
                
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/allproducts">All Products</a>
                                <div class="dropdown-divider"></div>
                                <% categoryData.forEach((category)=>{ %>
                                  <% if (category.isBlocked === false) { %>
                                    <a class="dropdown-item" href="/category/desktop-pcs?cat=<%=category._id %>">
                                      <%= category.CategoryName %>
                                    </a>                   
                                  <% } %>
                                  <% }) %>
                
                              </div>
                            </div>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <% if (user) { %>
                                    <a class="dropdown-item" href="">
                                        <%= user.username %>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="orders">My Orders</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="logout">X Log Out X</a>
                                    <% } else { %>
                                        <a class="dropdown-item" href="login">Sign In</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="signup">Create an Account</a>
                                        <% } %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>






        <div class="py-5" >
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="card cardtransparent">
                    <img src="/shop/img/profile.jpg" class="profile-image" alt="Profile Image" id="profileImage">



                    <div class="card-body " style="letter-spacing: 2px;">
                      <h3 class="card-title" style="font-family: 'DotGothic16', sans-serif; color: #ffcc00;"><b>User Details</b></h3>
                      <h6 class="card-subtitle my-2" style="font-family: 'DotGothic16', sans-serif; color: #ffffff;">Name: <%= user.username %></h6>
                      <h6 class="card-subtitle my-2" style="font-family: 'DotGothic16', sans-serif; color: #ffffff;">Email: <%= user.email %></h6>
                      <h6 class="card-subtitle my-2" style="font-family: 'DotGothic16', sans-serif; color: #ffffff;">contact: <%= user.number %></h6>
                      
                      <a href="editUser?userId=<%= user._id %>" class="card-link" style="font-family: 'DotGothic16', sans-serif; color: #ffcc00;"><u> Edit Profile</u></a>
                      <a href="changepassword" class="card-link" style="font-family: 'DotGothic16', sans-serif; color: #ffcc00;"><u>Change Password</u></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="card cardtransparent">
                    <div class="card-body " >
                      <h3 class="card-title" style="font-family: 'DotGothic16', sans-serif; color: #ffcc00; letter-spacing: 2px;"><b>Shopping Details</b></h3>
                      <ul class="list-group list"  >
                        <% if (addressData) { %>
                            <a href="viewAddress"><li class="list-group-item d-flex justify-content-between align-items-center"> Addresses <span class="badge badge-warning badge-pill"><%= addressData.length %></span> </li></a>
                        <% }else{ %>
                            <a href="viewAddress"><li class="list-group-item d-flex justify-content-between align-items-center"> Addresses <span class="badge badge-warning badge-pill">0</span> </li></a>
                            <%  }%>
                            <% if (userOrders) { %>
                                <a href="orders">  <li class="list-group-item d-flex justify-content-between align-items-center"> Orders<span class="badge badge-warning badge-pill"><%= userOrders.length %></span> </li></a>                             
                            <% } else{%>
                                <a href="orders">  <li class="list-group-item d-flex justify-content-between align-items-center"> Orders<span class="badge badge-warning badge-pill">0</span> </li></a>                          
                               <%}%>
                               <% if (cart) { %>
                                <a href="cart"><li class="list-group-item d-flex justify-content-between align-items-center"> Cart<span class="badge badge-warning badge-pill"><%= cart.length %></span> </li></a>
                                
                               <% } else{ %>
                                <a href="cart"><li class="list-group-item d-flex justify-content-between align-items-center"> Cart<span class="badge badge-warning badge-pill">0</span> </li></a>
                                <% } %>
                        <a href="wishlist"><li class="list-group-item d-flex justify-content-between align-items-center"> Wishlist <span class="badge badge-warning badge-pill"><%= wishlistItems.length %></span> </li></a>
                        <li class="list-group-item d-flex justify-content-between align-items-center"> Coupons<button class="btn btn-warning" id="redeemButton">redeem</button> </li>
                      </ul>
                      
<div id="couponCard" class="list-group-item" style="display: none;">
    <div class="card-body"> 
        <% if (coupons.length>0) { %>
            Coupons:<br>
            <% coupons.forEach(coupon => { %>
                Code:  <span class="text-warning"> <%=coupon.couponCode%> </span>
                <button class="btn btn-outline-success copy-button" data-clipboard-text="<%= coupon.couponCode %>">Copy</button><br>
                Discount:  <span class="text-warning"> ₹<%= coupon.discountAmount%> </span><br>
                On Orders Above: <span class="text-warning"> ₹<%= coupon.priceRange%> </span><br>
                Expires On:  <span class="text-warning"> <%= coupon.expirationDate.toLocaleString() %> </span><br>
            <% }); %>
        <% } else { %>
            No Coupons Available
        <% } %>
    </div>
</div>
                    </div>
                    <div class="card-body" style="font-family: 'DotGothic16', sans-serif; color: #ffcc00; letter-spacing: 2px;">
                        <h5 class="card-title"><b>Wallet</b></h5>
                        <% if (!wallet) { %>
                            <h6 class="card-subtitle my-2 text-danger">Wallet Not Found !!!</h6>
                            <p class="card-text" style="background-color: #00000079; border-radius: 17px; padding: 10px;  letter-spacing: 2px;">Creating a Wallet benefits in faster cashback for your cancellations and returns</p>
                        <% } else if(wallet.wallet === 0){ %>
                            <h6 class="card-subtitle my-2 text-danger" style="background-color: #00000064; padding: 10px; border-radius: 12px; letter-spacing: 2px; ">Your balance: <%= wallet.wallet%><br><span id="openModal" style="color: #ffd500;">Transaction History</span></h6>
                           
                            <% } else{%>
                                <h6 class="card-subtitle my-2 " style="background-color: #00000064; padding: 10px; border-radius: 12px; letter-spacing: 2px; ">Your balance: <span style="color: yellow;"> <%= wallet.wallet.toFixed(2) %><br><span id="openModal" style="color: #ffd500;">Transaction History</span></span></h6>
                                <% } %>
                               
                        <% if (!wallet) { %>
                      <a href="createwallet" class="card-link text-light">Create Wallet</a>
                      <% } %>
                      <a href="#" class="card-link text-light" style="letter-spacing: 2px;" >Terms and Conditions</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close" id="closeModal">&times;</span>
              <h2>Transaction History</h2>
              <div class="transaction-list">
                <% wallet.transactions?.forEach((transaction, index) => {%>
                <div class="transaction-item <%= index % 2 === 0 ? 'even' : 'odd' %>">
                  <div class="transaction-info">
                    <div class="transaction-amount">
                       
                            Amount: ₹<span style="color: rgb(0, 0, 0);"><%= transaction.amount %></span>
                  
                    </div>
                    <div class="transaction-description">
                      Description: <span style="color: #000000;"><%= transaction.description %></span>
                    </div>
                  </div>
                  <div class="transaction-time">
                    Date: <span style="color: #000000;"><%= transaction.timestamp.toLocaleString() %> </span>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>


          <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="enlargedImage">
        </div>


            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        const formatDate = (timestamp) => {
          const date = new Date(timestamp);
          const options = { year: 'numeric', month: 'short', day: 'numeric' };
          return date.toLocaleDateString(undefined, options);
        };
      
        const formatTime = (timestamp) => {
          const date = new Date(timestamp);
          const options = { hour: 'numeric', minute: 'numeric', hour12: true };
          return date.toLocaleTimeString(undefined, options);
        };
      </script>


<script>
let modal = document.getElementById("myModal");
const span = document.getElementById("openModal");
const closeBtn = document.getElementsByClassName("close")[0];

span.onclick = function () {
  modal.style.display = "block";
};

closeBtn.onclick = function () {
  modal.style.display = "none";
};

window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
};

</script>

<script>
new ClipboardJS('.copy-button');

document.querySelectorAll('.copy-button').forEach(function (btn) {
    btn.addEventListener('click', function () {
        var tooltip = document.createElement('span');
        tooltip.className = 'tooltip';
        tooltip.textContent = 'Copied!';
        this.appendChild(tooltip);
        setTimeout(function () {
            tooltip.parentElement.removeChild(tooltip);
        }, 1000);
    });
});

</script>

   <script>
        const redeemButton = document.getElementById('redeemButton');
        const couponCard = document.getElementById('couponCard');
    
        redeemButton.addEventListener('click', function (event) {
            event.preventDefault();
    
            couponCard.style.display = 'block';
    
           
        });
    </script>


           <script>
const profileImage = document.getElementById('profileImage');
const modal = document.getElementById('imageModal');
const enlargedImage = document.getElementById('enlargedImage');

profileImage.addEventListener('click', () => {
    modal.style.display = 'block';
    enlargedImage.src = profileImage.src;
});

modal.addEventListener('click', (event) => {
    if (event.target === modal || event.target.classList.contains('close')) {
        modal.style.display = 'none';
    }
});

           </script>

    </body>

</html>